*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, #f7a9ca5e 0%, hsla(182, 31%, 58%, 0.678) 1%, #eacaf873 100%),url(../img/Bienvenidos14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.tenet{
    position: fixed;
    top: 30px;
    right: 30px;
    background: rgba(255, 88, 247, 0.369);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0,0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: tranform .3s ease-in-out;
   transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0,0, .5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{ 
    color: #9144d1b6;
    text-decoration: none;   
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/*Nuestro servicio*/

.subtitulo{
    text-align: center;
    font-weight: 500;
    color: #42effc7e;
    margin-bottom: 40px;
    font-size: 70px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 30%;
    margin-top: 25px;
}

.checklist-servicio{
    width: 100%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #9b75f1b2;
}

.number{
    display: inline-block;
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    width: 50px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}


.precio{
    margin: 150px auto;
    width: 600px;
}

table{
   background-color: rgb(250, 247, 219);
    text-align: left;
    border-collapse: collapse;
    width: 100%;

}
    
th,td{
    padding: 20px;
}

thead{
    background-color: #a9b9ee;
    border-bottom: solid 5px #faaca8;
    color: white;
}

tr:nth-child(even){
    background-color: #d5fdd1;
}

tr:hover td{
    background-color: #faaca8;
    color: white;
}

.precios2{
    margin: 150px auto;
    width: 600px;
}

table{
   background-color: rgb(250, 247, 219);
    text-align: left;
    border-collapse: collapse;
    width:100%;
}
    
th,td{
    padding: 20px;
}

thead{
    background-color: #a9b9ee;
    border-bottom: solid 5px #faaca8;
    color: white;
}

tr:nth-child(even){
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

tr:hover td{
    background-color: #faaca8;
    color: white;
}

.gallery{
    background: rgb(248, 231, 232);
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0,0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0,0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showimagen{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.contenedor-nosotros{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.contenedor-nosotros img{
    width: 40%;
    margin-top: 25px;
}

.consulting-nosotros{
    width: 45%;
}

.somos{
    margin-bottom: 30px;
}

.n-somos{
    margin-bottom: 9px;
    color: #000;
}

.numbero{
    display: inline-block;
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/*Footer*/

footer{
    background: #a9b9ee;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 50%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 50px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: aquamarine;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.contenedor-contacto{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.contenedor-contacto img{
    width: 100%;
    margin-top: 25px;
}

.gps-contacto{
    width: 45%;
}

.form{
    background-color: rgba(245, 223, 248, 0.747);
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/ 30%) ;
    text-align: center;
}

.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
}

.form_paragraph{
    font-weight: 300;
}

.form_link{
    font-weight: 400;
    color: #000;
}

.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;  
}

.form_group{
    position: relative;
    --color: #5757577e;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto',sans-serif;
}

.form_input:not(:placeholder-shown){
    color: #706c6c;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
} 

.form_label{
    color: var(--color);
    cursor: pointer;
    position:absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_submit{
    background: #5053e7;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);
}

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .contenedor-nosotros img{
        width: 80%;
        margin-bottom: 40px;
    }

    .somos{
        margin-bottom: 30px;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }


}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

    .tenet{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }

    .form_title{
        font-size: 1.8rem;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}
